<aside class="author-wrapper">
  <div class="author-image-wrapper">
    <img src="/images/icon.png" class="author-image" />
  </div>
  <div>
    <div class="author-name">ぷらす (p1ass)</div>
    <p class="author-description">
      Go や TypeScript をよく書くサーバサイドエンジニア<br />京都の学生エンジニアコミュニティ
      CAMPHOR- の元代表
    </p>
    <a href="https://github.com/p1ass" class="author-sns-link"
      ><i class="fab fa-github author-sns-github"></i> p1ass</a
    >
    <a href="https://twitter.com/p1ass" class="author-sns-link"
      ><i class="fab fa-twitter author-sns-twitter"></i> p1ass</a
    >
  </div>
</aside>
