.sns_parent {
  text-align: center;
  margin: $vertical-rhythm-unit 0;
}

.sns_section {
  display: inline-block;
  text-align: left;
}
.sns_button {
  float: left;
  box-shadow: inset 0 0 0 2px #42464c;
  border-radius: 100%;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}
.sns_button a {
  display: table-cell;
  width: $vertical-rhythm-unit * 1.625;
  height: $vertical-rhythm-unit * 1.625;
  color: #42464c;
  text-align: center;
  vertical-align: middle;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}
.sns_button i {
  font-size: 22px;
  vertical-align: middle;
  padding-bottom: 1px;
}
.sns_button:hover {
  box-shadow: inset 0 0 0 22px #eaeaea;
}

.sns_button + .sns_button {
  margin: 0 0 0 12px;
}

.twitter {
  box-shadow: inset 0 0 0 2px #1b95e0;
}

.twitter i {
  color: #1b95e0;
}

.twitter:hover a {
  color: #1b95e0;
}

.facebook {
  box-shadow: inset 0 0 0 2px #3b5999;
}

.facebook i {
  color: #3b5999;
}

.facebook:hover a {
  color: #3b5999;
}

.google:hover a {
  color: #dd4b39;
}

.instagram:hover a {
  color: #2b5c84;
}

.pocket {
  box-shadow: inset 0 0 0 2px #ee4056;
}

.pocket i {
  color: #ee4056;
}

.pocket:hover a {
  color: #ee4056;
}

.hatena {
  box-shadow: inset 0 0 0 2px #4ba3d9;
}

.hatena i {
  color: #4ba3d9;
}

.hatena:hover a {
  color: #4ba3d9;
}

.fa-hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold;
}
