details {
  border: 1px solid $border;
  border-radius: $vertical-rhythm-unit * 0.25;
  padding: $vertical-rhythm-unit * 0.5 $vertical-rhythm-unit;
  margin-bottom: $vertical-rhythm-unit;
  cursor: pointer;
}
