{{ define "main" }}

<main>
  <article class="post">
    {{ partial "single/post-info.html" . }} {{ partial "single/title.html" . }}
    {{ partial "single/header.html" . }} {{ partial "share" . }}
    <!-- -->
    {{ partial "post-detail.html" . }}
    <div class="post-content">
      {{ .Content }}
      <!-- -->
      {{ $related := .Site.RegularPages.Related . | first 4 }} {{ with $related }}
      <div class="related">
        <h2>合わせて読みたい</h3>
        <ul>
          {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>

    <!-- -->
  {{ partial "single/footer.html" . }}
  </article>

  {{ partial "share" . }} {{ partial "single/author.html" . }}

  <div class="pagination">
    {{- if .PrevPage }}
    <a href="{{ .PrevPage.RelPermalink }}" class="left"
      >&#8592; {{ .PrevPage.Title }}</a
    >
    {{- end }} {{- if .NextPage }}
    <a href="{{ .NextPage.RelPermalink }}" class="right"
      >{{ .NextPage.Title }} &#8594;</a
    >
    {{- end }}
  </div>
  <div class="top"><a href="/">Top</a></div>
</main>

{{ end }}
