<section class="catalogue-section">
  <a href="{{ .Permalink }}" class="catalogue-item">
    <div>
      <time datetime="{{ .PublishDate }}" class="catalogue-time">
        {{ .PublishDate.Format "2006/1/2" }}
      </time>
      <h1 class="catalogue-title">{{ .Title }}</h1>
      <div class="catalogue-line"></div>
    </div>
  </a>
  {{ partial "category-and-tag.html" . }}

  <p>
    {{ if isset .Params "summary" }} {{ .Params.Summary }}
    <!-- -->
    {{ else }} {{ .Summary}} {{ end }}
  </p>
  <a class="catalogue-more-button" href="{{ .Permalink }}">続きを読む</a>
</section>
