<footer>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
  <!-- ブログの一番下 -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-4978327687969784"
    data-ad-slot="2402861623"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <span>このサイトではアクセス解析にGoogle Analyticsを使用しています。</span>
  <br />
  <span>
    &copy; <time datetime="{{ now }}">{{ now.Format "2006" }}</time>
    {{.Site.Author.name }}. {{ i18n "generator" | safeHTML }}
  </span>
</footer>
