<ul>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/tags">Tags</a></li>
    <li><a href="https://naoki.dev" target="_blank" rel="noopener noreferrer">Portfolio<i class="fas fa-external-link-alt"></i></a></li>
    <li><a href="https://github.com/naoki-kishi" target="_blank" rel="noopener noreferrer">GitHub<i class="fas fa-external-link-alt"></i></a></li>
    <li><a href="https://twitter.com/plus_kyoto" target="_blank" rel="noopener noreferrer">Twitter<i class="fas fa-external-link-alt"></i></a></li>
</ul>
