<head>
    {{ partial "google-analytics.html" . }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{- if .IsHome }}
        <meta name="description" content="{{ .Site.Params.Description }}">
    {{- else if .Description }}
        <meta name="description" content="{{ .Description }}">
    {{- end }}

    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ if .IsPage }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />

    {{- if .IsPage }}
        {{- if .Params.eyecatch }}
            <meta property="og:image" content="https://blog.p1ass.com{{ .Params.eyecatch }}" />
        {{- else}}
            <meta property="og:image" content="https://og-image.p1ass.com/apiv2/{{- replace (substr (querify  "a" .Params.Title) 2) "+" "%20" -}}.png"/>
        {{- end }}
    {{- else }}
    <meta property="og:image" content="https://blog.p1ass.com/images/ogp.png"/>
    {{- end}}
    <meta property="og:url" content="https://blog.p1ass.com{{ .Permalink }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@p1ass" />
    <meta name="twitter:creator" content="@p1ass" /> 

    {{- if .IsHome }}
    <meta property="og:title" content="{{ .Title }}" />
    <title>{{ .Site.Title }}</title>
    {{- else }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}" />
    {{- end }}
    

    <!-- CSS -->
    {{- $inServerMode	:= .Site.IsServer }}
    {{- $cssTarget		:= "css/style.css" }}
    {{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
    {{- $style			:= resources.Get "scss/tale.scss" | toCSS $cssOptions }}
      <link rel="stylesheet" href="{{ $style.RelPermalink }}">
      <script src="https://kit.fontawesome.com/ea66b8338f.js" crossorigin="anonymous" async></script>
    {{ range .Site.Params.css -}}
        <link rel="stylesheet" href="{{ . | relURL }}">
    {{ end -}}

    <!-- Favicon -->
    <link rel="icon" sizes="48x48" href="{{ "images/favicon.ico" | relURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | relURL }}">

    <!-- RSS -->
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>    
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-4978327687969784",
          enable_page_level_ads: true
     });
    </script>

    {{/* TwitterのLazyload */}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
</head>
