{{ if ne .Params.share false}}
<!-- use font awsome -->
<section class="sns_parent">
  <div class="sns_section">
      <div class="sns_button twitter">
        <a href="http://twitter.com/intent/tweet?url=https://blog.p1ass.com{{ .Permalink }}&text={{ .Title }} - ぷらすのブログ" target="_blank" rel="noopener" title="Tweet"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="sns_button facebook">
        <a href="http://www.facebook.com/sharer/sharer.php?u=https://blog.p1ass.com{{ .Permalink }}&t={{ .Title }} - ぷらすのブログ"  target="_blank" rel="noopener" title="Facebook"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="sns_button pocket">
        <a href="http://getpocket.com/edit?url=https://blog.p1ass.com{{ .Permalink }}&title={{ .Title }} - ぷらすのブログ" target="_blank" rel="noopener" title="pocket"><i class="fab fa-get-pocket"></i></a>
      </div>
      <div class="sns_button hatena">
        <a href="http://b.hatena.ne.jp/add?mode=confirm&url=https://blog.p1ass.com{{ .Permalink }}&title={{ .Title }} - ぷらすのブログ" target="_blank" rel="noopener" title="hatena"><i class="fa fa-hatena"></i></i></a>
      </div>
  </div>
</section>
{{ end }}
