{{/* https://r17n.page/2020/07/24/js-embed-tweet-lazy-load-using-lozad-twitter/ */}}
<script>
    {{/*  画像用Lazylaod  */}}
    const imageObserver = lozad('.lazy')
    imageObserver.observe()
    
    const observer = lozad('.lozad-twitter', {
    // イベント発火時の処理内容
    load: el => {
        // 最低限の要素(blockquote と script)を作成
        const blockquote = document.createElement('blockquote');
        blockquote.className = 'twitter-tweet';

        // blockquote の中身1
        const p = document.createElement('p');
        p.lang = 'ja';
        p.dir = 'ltr';
        blockquote.appendChild(p);

        // blockquote の中身2
        const twitterSrc = el.dataset.twitterSrc;
        const a = document.createElement('a');
        a.href = twitterSrc;
        blockquote.appendChild(a);

        // widgets.js
        const script = document.createElement('script');
        script.src = 'https://platform.twitter.com/widgets.js';
        script.charset = 'utf-8';
        script.async = true;

        // blockquote と script を追加
        el.insertAdjacentElement('beforeEnd', blockquote);
        el.insertAdjacentElement('beforeEnd', script);
    }
    });
    // 監視開始
    observer.observe();
</script>
