* {
  @include box-sizing;
  line-height: $vertical-rhythm-unit;
}

html,
body {
  color: $gray;
  background-color: $background;
  margin: 0;
  padding: 0;
}

html {
  font-family: $serif-primary;
  font-size: 15.5px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}


body {
  -webkit-text-size-adjust: 100%;
  margin: 0 $spacing;
  > * {
    margin: ($spacing * 4) $spacing;
  }
}

nav {
  margin: 0 auto ;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  margin: 0 0 $vertical-rhythm-unit;
}

h1, h2{
  line-height: ($vertical-rhythm-unit * 2); 
}

h2:after {
  display: block;
  height: 2px;
  content: "";
  background: linear-gradient(
    to right,
    $bottom-line-color-1 0%,
    $bottom-line-color-2 100%
  );
}

h3 {
  font-size: 1.3rem;
  line-height: ($vertical-rhythm-unit * 1.5); 
  border-bottom: 1px solid $border;
}

h4 {
  font-size: 1.2rem;
  line-height: $vertical-rhythm-unit ; 
}


a {
  color: $blue;
  text-decoration: none;
  word-break: break-all;
}

blockquote {
  border-left: 0.25rem solid $border;
  color: $gray-light;
  margin: 0.8rem 0;
  padding: 0.5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 auto $vertical-rhythm-unit;
  max-width: 100%;
  max-height: 400px;
  border: 1px solid $border;
}

td {
  vertical-align: top;
}

p {
  margin: 0 0 $vertical-rhythm-unit;
  line-height: $vertical-rhythm-unit * 1.25;
}

li p {
  margin: 0;
}

ul {
  margin: 0 0 $vertical-rhythm-unit 1.5rem;
  padding: 0;
}

li ul {
  margin: 0 0 0 1.5rem;
}

ul li {
  padding: 0 0 $vertical-rhythm-unit * 0.25;
}

li {
  padding: 0 0 $vertical-rhythm-unit * 0.25;
}

ol {
  margin: 0 0 $vertical-rhythm-unit 1.5rem;
  padding: 0;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: $vertical-rhythm-unit;
}

table th {
  border-bottom: solid 2px $bottom-line-color-1;
}

table tr{
  border-bottom: solid 1px $border;
}


table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

iframe{
  margin-bottom: $vertical-rhythm-unit;
}


.tag {
  color: $gray-light;

  &:hover {
    color: $gray;
  }
  @include transition(all 0.3s ease-out);
}

.reading-time {
  color: $gray-light;
}


.loading{
  background-color: #babbbc;
  animation: hintloading 1.5s ease-in-out 0s infinite reverse;

  @keyframes hintloading {
    0% {
      opacity: 0.5;
    }
    50%  {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

  @-webkit-keyframes hintloading {
    0% {
      opacity: 0.5;
    }
    50%  {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
}

