pre,
code {
  font-family: $monospaced;
}

code {
  background-color: $background-dark;
  border: 1px solid $border;
  border-radius: $vertical-rhythm-unit * 0.125;
  font-size: 85%;
  padding: $vertical-rhythm-unit * 0.125 0.5em;
}

pre {
  margin: 0 0 1rem;
}

pre code {
  background-color: transparent;
  border: none;
  font-size: 15px;
  padding: 0;
  color: $white-dark;
}

.highlight {
  color: $white-dark;
  background-color: $gray;
  border-radius: $vertical-rhythm-unit * 0.5;
  margin: 0 0 $vertical-rhythm-unit;
  padding: $vertical-rhythm-unit * 0.5;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    color: $gray-light;
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 0.75rem 0 0.25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
}
