pre,
code {
  font-family: $monospaced;
}

code {
  background-color: $grey-3;
  border: 1px solid $grey-2;
  border-radius: $vertical-rhythm-unit * 0.125;
  font-size: 85%;
  padding: $vertical-rhythm-unit * 0.125 .5em;
}

pre {
  margin: 0 0 1rem;
}

pre code {
  background-color: transparent;
  border:none;
  font-size: 100%;
  padding: 0;
  color: $code-color;
}

.highlight {
  color: $code-color;
  background-color: $code-background;
  border-radius: $vertical-rhythm-unit * 0.5;
  margin: 0 0 $vertical-rhythm-unit;
  padding: $vertical-rhythm-unit * 0.5;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    color: $default-tint;
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 .75rem 0 .25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
