main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 750px;
}

.nav {
  overflow: auto;
  border-bottom: 1px solid $border;

  &-container {
    margin: $vertical-rhythm-unit * 0.5 auto;
    text-align: center;
  }

  &-title {
    @include transition(all 0.2s ease-out);
    margin: $vertical-rhythm-unit * 0.25 0;
    color: $gray;
    
    &:hover,
    &:focus {
      color: $gray-light;
    }

    &:after {
      display: none;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    padding: 0 2rem  0 0;
  

    &:last-child {
      padding-right: 0;
    }

    @media (max-width: 600px){
      padding: 0 0 $vertical-rhythm-unit * 0.25 0;
      width: 100px;
    }
  }

  a {
    color: $gray-light;
    @include transition(all 0.2s ease-out);

    &:hover,
    &:focus {
      color: $gray;
    }
  }
}


footer {
  font-family: $serif-secondary;
  padding: $vertical-rhythm-unit 0;
  text-align: center;

  span {
    display: inline-block;
    padding-top: $vertical-rhythm-unit * 0.5;
    font-size: 0.8rem;
  }
}

.fa-external-link-alt {
  padding-left: 0.4rem;
  font-size: 0.85rem;
}
