.pagination {
  border-top: .5px solid $grey-2;
  font-family: $serif-secondary;
  padding-top: 2rem;
  display: inline-flex;
  text-align: center;
  span {
    color: $default-shade;
    font-size: 1.1rem;
  }



  .arrow {
    @include transition(all .3s ease-out);
    color: $default-color;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }
}

.top {
  @include transition(all .3s ease-out);
  opacity: .9;
  text-align: center;

  a{
    color: $default-color;
    font-family: $sans-serif;
    font-size: 1.1rem;  
  }

  &:hover {
    opacity: 1;
  }
}
