.pagination {
  border-top: .5px solid $border;
  font-family: $serif-secondary;
  padding-top: 2rem;
  display: inline-flex;
  text-align: center;
  justify-content: space-between;
  width:100%;
  span {
    flex-grow:10;
    font-size: 1.1rem;
  }

  a{
    max-width: 50%;
  }

  .left{
    text-align: left;
  }

  .right{
    text-align: right;
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $gray;

    &:hover,
    &:focus {
      color: $gray-light;
      text-decoration: none;
    }
  }
}

.top {
  text-align: center;

  a{
    color: $gray;
    font-family: $sans-serif;
    font-size: 1.1rem;  

    @include transition(all .3s ease-out);

    &:hover {
      color: $gray-light;
    }
  }
}
