$arrow-box-width: 60px;

.pagination {
  border-top: .5px solid $border;
  font-family: $serif-secondary;
  padding-top: 2rem;
  display: inline-flex;
  text-align: center;
  justify-content: space-between;
  width:100%;
  span {
    flex-grow:10;
    font-size: 1.1rem;
  }

  a{
    max-width: 50%;
  }

  .left{
    text-align: left;
  }

  .right{
    text-align: right;
  }

  .arrow {
    @include transition(all .3s ease-out);
    
    border: solid 1px $gray;
    color: $gray;
    width: $arrow-box-width;
    border-radius: $vertical-rhythm-unit * 0.25;
    padding: $vertical-rhythm-unit * 0.25 1rem;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;

    &:hover,
    &:focus {
      background-color: $gray;
      color: $white;
      text-decoration: none;
    }
  }
}

.empty-arrow {
  width: $arrow-box-width;
}

.page-number{
  padding: $vertical-rhythm-unit * 0.25 0;
}

.top {
  text-align: center;

  a{
    color: $gray;
    font-family: $sans-serif;
    font-size: 1.1rem;  

    @include transition(all .3s ease-out);

    &:hover {
      color: $gray-light;
    }
  }
}
