.post {
  padding: 3rem 0;

  @media (max-width: 900px) {
    padding: 0 0 3rem 0;
  }

  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 2.5rem;
    margin: 1rem 0 2rem 0;
    text-align: center;

    @media (max-width: 900px) {
      font-size: 2rem;
    }
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  p {
    text-align: justify;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
}

.twitter-tweet {
  margin: 0 auto;
}

.instagram-media {
  margin: 0 auto;
}
