// Colors
$default-color: #222222;
$default-shade: #22222a;
$default-tint: #666;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$blue: #04c;
$shadow-color: rgba(0, 0, 0, 0.2);
$code-color: rgba(255, 255, 255, 0.8);
$code-background: rgba(45, 48, 55, 1);
$more-button-color: #353535;
$more-button-hover-color: #555555;
$sub-shade: #444;

$h3-border: #ccc;

// Fonts
$serif-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$serif-secondary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$monospaced: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

// custom
$bottom-line-color-1: rgba(47, 128, 237, 0.7);
$bottom-line-color-2: rgba(86, 204, 242, 0.7);
 
// https://gist.github.com/yuheiy/89ba79fd0510f98613c217a7dbeb8d03
$spacing: 1rem;
$vertical-rhythm-line-height: 1.7;
$vertical-rhythm-unit: ($vertical-rhythm-line-height * 1rem);
