// Colors
$background: #FFFFFF;
$background-dark: #F9F9FA;

$blue: #4172B5;

$gray: #1E2126;
$gray-light: #636E7D;

$border: #DDE0E4;
$border-light: #FFFFFF;

$white: #FFFFFF;
$white-dark:#DDE0E4;


// Fonts
$serif-primary: "Hiragino Kaku Gothic ProN","Hiragino Sans","Segoe UI","Roboto","Noto Sans CJK JP",sans-serif, "Apple Color Emoji","Segoe UI", "Emoji,Segoe UI", Symbol,"Noto Sans Emoji";
$serif-secondary: "Hiragino Kaku Gothic ProN","Hiragino Sans","Segoe UI","Roboto","Noto Sans CJK JP",sans-serif, "Apple Color Emoji","Segoe UI", "Emoji,Segoe UI", Symbol,"Noto Sans Emoji";
$sans-serif: "Hiragino Kaku Gothic ProN","Hiragino Sans","Segoe UI","Roboto","Noto Sans CJK JP",sans-serif, "Apple Color Emoji","Segoe UI", "Emoji,Segoe UI", Symbol,"Noto Sans Emoji";
$monospaced: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

// custom
$bottom-line-color-1: rgba(47, 128, 237, 0.7);
$bottom-line-color-2: rgba(86, 204, 242, 0.7);
 
// https://gist.github.com/yuheiy/89ba79fd0510f98613c217a7dbeb8d03
$spacing: 1rem;
$vertical-rhythm-line-height: 1.7;
$vertical-rhythm-unit: ($vertical-rhythm-line-height * 1rem);
