{{- $url := .Get "url" -}}
{{- $json := getJSON .Site.Params.OgpJsonBaseUrl $url -}}
{{- $title := $json.Title -}}
{{- $siteName := $json.SiteName -}}
{{- $description := $json.Description -}}
{{- $favicon := $json.Favicon -}}
{{- $image := index $json.Image 0 -}}
{{- $imageUrl := $image.URL -}}
{{- $urlInfo := $json.URL -}}
{{- $host := $urlInfo.Host -}}
 
<div class="embed-wrapper">
  <a href="{{ $url }}" target="_blank" rel="noopener noreferrer" class="embed-wrapper-inner">
    <div class="embed-content with-thumb"> 
      <div class="entry-body">
        <strong class="entry-title">
          {{ $title }}
        </strong>
        <div class="entry-content">
          {{ $description }}
        </div>
      </div>
      {{ if $imageUrl }}
      <div class="thumb-wrapper">
          <img src="{{ $imageUrl }}" class="thumb" alt="{{ $title }}">
      </div>
      {{ end }}
    </div>
    <span>{{ $host }}</span>
  </a>
</div>
