{{- $url := .Get "url" -}}
{{- $json := getJSON .Site.Params.OgpJsonBaseUrl $url -}}
{{- $title := $json.Title -}}
{{- $siteName := $json.SiteName -}}
{{- $description := $json.Description -}}
{{- $favicon := $json.Favicon -}}
{{- $image := index $json.Image 0 -}}
{{- $imageUrl := $image.URL -}}
{{- $urlInfo := $json.URL -}}
{{- $host := $urlInfo.Host -}}
 
<div class="embed-wrapper">
  <a href="{{ $url }}" class="embed-wrapper-inner">
      {{ if $imageUrl }}
      <div class="thumb-wrapper">
          <img data-src="{{ $imageUrl }}" class="thumb lazy" alt="{{ $title }}">
      </div>
      {{ end }}
      <div class="entry-body">
        <p class="entry-title">
          {{ $title }}
        </p>
        <div class="entry-description">
          {{ $description }}
        </div>
        <span class="entry-site-url">{{ $host }}</span>
      </div>
  </a>
</div>
