{{- $url := .Get "url" -}}
{{- $json := getJSON .Site.Params.OgpJsonBaseUrl $url -}}
{{- $title := $json.Title -}}
{{- $siteName := $json.SiteName -}}
{{- $description := $json.Description -}}
{{- $favicon := $json.Favicon -}}
{{- $image := index $json.Image 0 -}}
{{- $imageUrl := $image.URL -}}
{{- $urlInfo := $json.URL -}}
{{- $host := $urlInfo.Host -}}

<a href="{{ $url }}" class="ex-title-link" {{ if strings.HasPrefix $url "https://blog.p1ass.com" }} {{ else }}target="_blank" rel="noopener"{{ end }}>{{ if .Get "title"}}{{ .Get "title" }}{{ else }}{{ $title }}{{end}}</a>

 